 * {
            margin: 0;
            padding: 0;
        }

        .grid-container>div {
            font-size: 30px;
            /* outline: 3px solid rgb(10, 28, 226); */
        }

        .grid-container {
            display: grid;
            grid-template-columns: repeat(10, 1fr);
        }

        .menu-bar {
            display: none !important;
        }

        body {
            background-image: url('bckgrnd.jpg'); /* Replace with your image path */
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
            margin: 0;
        }

        .navbar {
            grid-column: 1/11;
            padding: 20px;
            background-color:#EDDDCA;
            color: rgb(0, 0, 0);
            

            ul {
                /* background-color: rgb(25, 0, 254);
                border-radius: 40px;
                padding: 20px; */
                float: right;
                list-style: none;
                display: flex;
                flex-direction: row;
                

            }

            /* li:nth-child(1) {
                position: absolute;
                left: 0;
            } */

            li {
                padding-inline: 20px;
            }

            a {
                font-size: 2.5rem;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-weight: 700;
                text-decoration: none;
                color: rgb(0, 0, 0);
                
            }

            /* #logo:hover {
                background-color: rgb(208, 255, 1);
                color: black; 
                font-size: 3rem;
                transform: scale(2.1); 
                
                padding: 20px; 
            } */

            #logo {
                position: absolute;
                left: 0;
                border-radius: 40px;
                transition: 0.4s ease-in-out;
                
            }

            #menu {
                display: none;
            }
        }

        .image-section {
            grid-column: 1/5;
            text-align: center;
            padding: 4rem 0px 0px 0px;

            img {
                border-radius: 100%;
                width: 50%;
                height: auto;
            }
        }

        .text-section {
            grid-column: 5/11;
            display: grid;
            place-content: center;

            ul {
                display: flex;
                list-style: none;
                flex-direction: column;
            }

            li:nth-child(1) {
                font-family: monospace;
                font-size: 5rem;
                text-align: center;
                font-style: 'regular';
                font-size: 100px;
                margin-top: 100px;
            }

            li:nth-child(2) {
                /* font-family: sans-serif; */
                color:#A9511BCF;
                text-align: center;
                
            }
            li:nth-child(3) {
                /* font-family: sans-serif; */
                color:#A9511BCF;
                text-align: center;
                font-style: 'Italic';
                margin-top: 50px;
            }
            li:nth-child(4) {
                /* font-family: sans-serif; */
                color:#A9511BCF;
                text-align: center;
                margin-top: 50px;
                margin-left: 500px;
                font-style: 'Italic';
            }
        }

        .footer {
            grid-column: 1/11;
            height: 10vh;
        }

        @media screen and (max-width: 1000px) {
            .navbar {
                background-color: blue;

                ul li a {
                    font-size: 2rem;
                }

                #logo {
                    margin-top: -10px;
                    font-size: 3rem;
                    margin-left: 20px;
                }
            }

            .image-section {
                grid-column: 1/11;
                padding-top: 10px;

                img {
                    /* border-radius: 10px; */
                    width: 60%;
                }
            }

            .text-section {
                grid-column: 1/11;
                padding-top: 1rem;

                li:nth-child(1) {
                    font-size: 3rem;
                }

                li:nth-child(2) {
                    font-size: 2rem;
                }
            }
        }

        @media screen and (max-width: 800px) {
            .navbar {
                ul {
                    display: none;
                }

                #logo {
                    font-size: 30px;
                    margin-left: 20px;
                }

                #menu {
                    float: right;
                }
            }

            .image-section {
                grid-column: 1/11;
                padding-top: 10px;

                img {
                    /* border-radius: 10px; */
                    width: 60%;
                }
            }

            .text-section {
                grid-column: 1/11;
                padding-top: 1rem;

                li:nth-child(1) {
                    font-size: 3rem;
                }

                li:nth-child(2) {
                    font-size: 2rem;
                }
            }
        }

        @media screen and (max-width: 600px) {
            .navbar {
                ul {
                    display: none;
                }

                #logo {
                    font-size: 30px;
                    margin-left: 20px;
                }

                #menu {
                    float: right;
                }
            }

            .image-section {
                grid-column: 1/11;
            }

            .text-section {
                grid-column: 1/11;

                li:nth-child(1) {
                    font-size: 3rem;
                }

                li:nth-child(2) {
                    font-size: 2rem;
                }
            }
        }

        @media screen and (max-width: 500px) {
            .navbar {
                ul {
                    display: none;
                }

                #logo {
                    font-size: 30px;
                    margin-left: 20px;
                }

                #menu {
                    float: right;
                }
            }


            .text-section {

                li:nth-child(1) {
                    font-size: 2rem;
                }

                li:nth-child(2) {
                    font-size: 1.5rem;
                }
            }
        }

        @media screen and (max-width: 400px) {
            .navbar {
                ul {
                    display: none;
                }

                #logo {
                    font-size: 30px;
                    margin-left: 20px;
                }

                #menu {
                    float: right;
                }
            }

            .image-section {
                grid-column: 1/11;
            }

            .text-section {
                grid-column: 1/11;

                li:nth-child(1) {
                    font-size: 2rem;
                }

                li:nth-child(2) {
                    font-size: 1.5rem;
                }
            }
        }